.fp-scrollbar-holder
    .fp-scrollbar
    .fp-scroll
    .fp-info-holder_vertical
        .fp-btn.fp-btn_block(title="This is heatmap") ×
        .fp-btn.fp-btn_block(title="This is heatmap") ?
        .fp-scale-holder.fp-scrollbar-holder_vertical
            span.fp-scale-from
            .fp-scale_vertical
            span.fp-scale-to
    
