.fp-video-heatmap
    .fp-seek-handle
    .fp-video-progress
    .fp-info-holder
        .fp-btn(title="This is heatmap") ×
        .fp-btn(title="This is heatmap") ?
        .fp-scale-holder
            | 1
            .fp-scale
            | 10
