.fp-video-heatmap
    .fp-seek-handle
    .fp-video-progress
    .fp-info-holder
        .fp-btn.fp-btn_close(title="This is heatmap") ×
        .fp-btn(title="This is heatmap") ?
        .fp-scale-holder
            span.fp-scale-from
            .fp-scale
            span.fp-scale-to
